.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.react-player > div {
  position: absolute;
}

.second-inner-wrapper {
  padding: 20px 40px 20px 40px;
}

.play-button:focus {
  border: 1px solid rgb(52, 43, 12);
  outline: 1px solid rgb(252, 228, 148);
}

.smart-player-top-wrapper {
  display: flex;
  justify-content: center;
}

.modal-outermost-wrapper {
  width: 100%;
  max-width: 350px;
  padding-top: 20px;
  display: flex;
}

@media screen and (max-width: 480px) {
  .second-inner-wrapper {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (max-width: 1080px) {
  .smart-player-top-wrapper {
    flex-wrap: wrap;
  }

  .modal-outermost-wrapper {
    width: 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 16px;
  }
}
