:root {
  --paper: "rgb(254, 249, 228)";
  --yellow: "rgb(252, 228, 148)";
  --gray: "rgb(62, 57, 36)";
  --dark: "rgb(52, 43, 12)";
  --text: "rgb(201, 201, 193)";
  --black: "rgb(51, 45, 25)";
}

/* Global Reset style */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
