:root {
  --paper: "rgb(254, 249, 228)";
  --yellow: "rgb(252, 228, 148)";
  --gray: "rgb(62, 57, 36)";
  --dark: "rgb(52, 43, 12)";
  --text: "rgb(201, 201, 193)";
  --black: "rgb(51, 45, 25)";
}
* {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
